<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Table</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        .green {
            color: green;
        }

        .red {
            color: red;
        }

        .black {
            color: black;
        }
        .bold {
            font-weight: bold;
        }
    </style>
</head>
<body>

<h2>股票詳細資料</h2>

<table>
    <thead>
    <tr>
        <th>股票代號</th>
        <th>公司簡稱</th>
        <th>成交價</th>
        <th>成交量</th>
        <th>昨收價</th>
        <th>最低價</th>
        <th>最高價</th>
        <th>累積成交量</th>
        <th>開盤價</th>
        <th>近四次EPS總和</th>
        <th>合理價</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td id="股票代號">
        <td id="公司簡稱">
        <td id="成交價">
        <td id="成交量">
        <td id="昨收價">
        <td id="最低價">
        <td id="最高價">
        <td id="累積成交量">
        <td id="開盤價">
        <td id="EPS">
        <td id="合理價">

    </tr>

    </tbody>
</table>
<script>
    // 從本地存儲中獲取API響應值
    const apiResponseString = localStorage.getItem('apiResponse');

    // 將變量插入到表格中
    const apiResponse = JSON.parse(apiResponseString);
    document.getElementById('股票代號').textContent = apiResponse["股票代號"];
    document.getElementById('公司簡稱').textContent = apiResponse["公司簡稱"];
    document.getElementById('成交價').textContent = apiResponse["成交價"];
    document.getElementById('成交量').textContent = apiResponse["成交量"];
    document.getElementById('昨收價').textContent = apiResponse["昨收價"];
    document.getElementById('最低價').textContent = apiResponse["最低價"];
    document.getElementById('最高價').textContent = apiResponse["最高價"];
    document.getElementById('累積成交量').textContent = apiResponse["累積成交量"];
    document.getElementById('開盤價').textContent = apiResponse["開盤價"];
    document.getElementById('EPS').textContent = apiResponse["EPS"];

    const Element = document.getElementById('合理價');
    const Value = parseFloat(apiResponse["合理價"]);

    if (apiResponse["合理價"] === "0.000" || apiResponse["合理價"] === "-0.000") {
        Element.textContent = "無法計算";
        Element.classList.add('black');
    } else {
        Element.textContent = apiResponse["合理價"];
        Element.classList.add('bold');
        if (Value < parseFloat(apiResponse["成交價"])) {
            Element.classList.add('red');
        } else {
            Element.classList.add('green');
        }
    }
    // if(apiResponse["合理價"] === "0.000" || apiResponse["合理價"] === "-0.000"){
    //     document.getElementById('合理價').textContent = "無法計算";
    // }else{
    //     document.getElementById('合理價').textContent = apiResponse["合理價"];
    // }

</script>
</body>

</html>
